

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-flow: column nowrap;
    background-color: azure;
    width: 100%;
    padding: 0;
}

.main div {
    display: flex;
    justify-content: center;
}             

.main .header {
    justify-content: center;
    column-gap: 898px;
}

.header .right div {
    padding: 10px 10px;
    font-weight: 550;
}


.box-1 {
    padding: 0 0% 60px;
    column-gap: 40px;
}

.box-1 .left {
    display: flex;
    flex-flow: column nowrap;
    width: 700px;
}

.box-1 .left div{
    justify-content: left;
}

.box-1 .right {
    width: fit-content;
}

.box-1 .right img{
    width: 500px;
    height: 300px;
}

.box-1 .left :nth-child(1) {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.box-1 .left :nth-child(2) {
    font-size: 18px;
    color: #e5e7eb;
}

.box-1 .left button {
    color: #f9faf8;
    width: fit-content;
    padding: 6px 25px;
    background-color: #3882f6;
    border: none;
    border-radius: 7%/20%;
    font-weight: 600;
    margin: 10px 0;

}

.box-2{
    flex-flow: column nowrap;
}

.header, .box-1, .footer {
    background-color: #1f2937 ;
    color: #f9faf8;
}

.logo {
    width: 70px;
}

.box-2 div {
}

.box-2 .top {
    display: flex;
    justify-content: center;
    margin: 30px;
    font-size: xx-large;
}

.box-2 {
    margin: 0 20% 70px;
}

.box-2 .bottom {
    display: flex;
    flex-direction: row nowrap;
    column-gap:60px;
    justify-content: center;
} 

.box-2 .bottom img {
    width: 200px;
    height: 200px;
    border-radius: 4%;
    border: 3px solid #3882f6;
}

.box-2 .bottom div {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.box-2 .bottom div span {
    text-align: center;
}

.box-4 .left {
    display: flex;
    flex-flow: column nowrap;
}

.footer {
    justify-content: center;
    align-items: center;
}

.footer .text {
    padding: 20px;
}

.box-4 {

}

.box-4 .container {
    background-color: #3882f6;
    border-radius: 1% / 10%;
    margin: 70px 15%;
    padding: 20px 120px;
    color: #f9faf8;

}

.box-4 .container button {
    margin: auto 100px;
    font-weight: 700;
    background-color: #3882f6;
    width: 100px;
    padding: 3px;
    border: solid 1.5px;
    border-color: #f9faf8;
    color: #f9faf8;
    border-radius: 2%/10%;
}

.box-4 .container .left :nth-child(1){
    color: #f9faf8;
    font-weight: 700;
    font-size: medium;
}

.box-4 .container .left :nth-child(2){
    color: #dde0d9;
    font-weight: 200;
    font-size: small;
}

.box-3 {
    flex-flow: column nowrap;
    background-color: gainsboro;
    padding: 100px 20%;
} 

.box-3 .content {
    font-size: 20px;
    font-weight: 100;
}

.box-3 .author {
    align-self: flex-end;
    font-weight: 600;
}
